<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <fieldset>
        <div>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'u-full-width', required: true %>
        </div>
        <div>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'u-full-width', required: true %>
        </div>
        <div>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'u-full-width' %>
        </div>
        <div>
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'u-full-width' %>
        </div>
        <div>
            <%= f.submit yield(:button_text), class: "button-primary" %>
        </div>
    </fieldset>
<% end %>
