<div class="nav">
    <div class="container">

        <!-- <div class="logo">
            <%= link_to 'Home', root_path %>
        </div> -->
        <nav>
            <ul class="nav-links">
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Resume', resume_path %></li>
                <li><%= link_to 'Portfolio', portfolio_path %></li>
                <li><%= link_to 'Sign up', signup_path %></li>
            </ul>
        </nav>
    </div>
</div>
