<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.png' %>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/nav' %>

    <% flash.each do |message_type, message| %>
    <div class="container">
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    </div>
    <% end %>

    <main class="container">
        <%= yield %>
    </main>

    <% if Rails.env.development? %>
    <div class="container">
        <%= debug(params) %>
    </div>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
